<h3>Jogador: @jogadorEstatistica.Nome</h3>

<hr />

<div>Pontos: @jogadorEstatistica.Pontos</div>
<div>Jogos: @jogadorEstatistica.Jogos</div>
<div>Vitórias: @jogadorEstatistica.Vitorias</div>
<div>Derrotas: @jogadorEstatistica.Derrotas</div>
<div>Empates: @jogadorEstatistica.Empates</div>
<div>Aproveitamento: @jogadorEstatistica.MediaAproveitamento.ToString("f2")%</div>